body{
    font-family: "Segoe UI";
    background-color: #153e5c;
}
h1,h2{
    text-align: center;
    color: #cdd4ca;
}

a{
    color: #cdd4ca;
    text-decoration: none;
}
a:hover{
    color: #f2be54;
}
li{
    list-style: none;
    display: inline-block;
}
p{
    font-size: 150%;
    color: white;
}
