body{
    font-family: Arial, San-Serif;
    font-size: 100%;
    background-color: #BCB39D;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    padding: 50px 0;
    background-color:#536C70;
}
h1, h2{
    color:#E6AD8C;
    text-align: center;
}
nav{
    background-color: #749D8C;
    border-color: #8199aa;
    min-height: 64px;
}
nav li{
    float: left;
    width: 100px;
}
nav a{
    display: block;
    color: white;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
nav li a:hover{
    color:#536C70;
    background-color: #E6AD8C;
    height: 300px;
}
p{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: #322324;
}

footer{
    background-color:#749D8C;
    color: #E6AD8C;
    padding: 20px 0;
    margin-top: 30 px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    border: 1px dashed #fff425;
    background-color: #ff5577;
}
.container li {
        flex-grow: 1;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 8px;
        height: 300px;
        background-color: #2dffea;
        list-style-type: none;
        font-size: 50px;
}
.img{
    width: 200px; }
    .left{
    float: left; }
    .right{
    float: right; 
}
.img-container li{
    display: inline-block;
    width: 32%;
    padding: 10px;
    }
    .img-container{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    }
    .img-container img{
    width: 80%;
    display: inline-block;
    transition: .25s;
    }
    .img-container ul li{
    list-style-type: none;
    }
    inline-img{
        width: 250px;
        display: inline-block;
        border-radius: 15px;
        text-align: center;
        transform: scale(0.95);
transition: .3s;
max-width: 35%;
        }
        .one{
            height: 300px;
            width: 300px;
            background: #820202;
            transition-duration: .5s;
            transform: rotate(0);
            }
        .one:hover{
            transform: rotate(90deg);
            transition-duration: 1s;
            background: blue;
            border-radius: 50%;
            }
            .two{
            width: 100px;
            height: 100px;
            background: grey;
            }
            .square{
                width: 90px;
                height: 90px;
                margin: 30px auto;
                background-color: #123456;
                animation-name: spin;
                animation-duration: 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: reverse;
                }
                @keyframes spin{
                0%{transform: rotate(0deg);}
                25%{background-color: yellow;}
                100%{transform: rotate(360deg);}
                }
                inline-img img:hover{ transform: scale(1); }
                .multimedia{
                    overflow: auto;
                    }
                    .multimedia-video{
                    display: inline-block;
                    float: left;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 33.33%;
                    box-sizing: border-box;
                    }
                    .multimedia1{
                        overflow: auto;}
                    .multimedia-video1{
                        display: inline-block;
                        float: right;
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 33.33%;
                        box-sizing: border-box;
                        }
                        form{
                            padding: 15px 0; float: right;
                            }